<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Index Page</title>
</head>
<body>
<div th:align="center" sec:authorize="hasRole('ADMIN')">
  <h4>Welcome Admin</h4>
<!--  <a th:href="${'sys-admin/home'}">Home</a>-->
</div>
<div th:align="center" sec:authorize="hasRole('AGENT')">
  <h4>Welcome Agent</h4>
<!--  <a th:href="${'supplier/home'}">Home</a>-->
</div>
<div th:align="center" sec:authorize="hasRole('USER')">
  <h4>Welcome User</h4>
<a th:href="${'localhost:8088/post/home'}">Home</a>
</div>
</body>
</html>