<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a post</title>
</head>
<body>

<!-- Default form subscription -->
<div class="card">
    <div class="card-header">
        <h1>Add a Post</h1>
    </div>
    <div>
<!--        <form th:object="${post}" th:action="@{/upload}" method="post" enctype="multipart/form-data">-->
        <form action="/sav" method="post" enctype="multipart/form-data">
            <!-- Name -->
            <div>
            <input type="text" name="pname" id="name"
                   placeholder="Product Name">
            </div>
            <br>
            <div>
            <!-- Caption -->
            <textarea id="cpt" name="cpt"
                      placeholder="Caption">Caption
                                 </textarea>
            </div>
            <br>
            <div>
                <input type="file" name="file" multiple
                       id="customFile">
                <label for="customFile">Image</label>
            </div>
            <br>
            <!-- Sign in button -->
            <button type="submit">Add</button>
<!--        </form>-->
        </form>
    </div>
</div>



</body>
</html>