<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a post</title>
</head>
<body>

<!-- Default form subscription -->
<div class="card">
    <div class="card-header">
        <p>Add a Post</p>
    </div>
    <div>
        <form th:object="${post}" th:action="@{/upload}" method="post">

            <!-- Name -->
            <input type="text" name="pname" id="name"
                   placeholder="Product Name">

            <!-- Caption -->
            <textarea id="cpt" name="cpt"
                      placeholder="Caption">Caption
                                 </textarea>

            <div>
                <input type="file" name="file"
                       id="customFile"> <label
                    for="customFile">Image</label>
            </div>
            <!-- Sign in button -->
            <button type="submit">add</button>
        </form>
    </div>
</div>
</form>
</body>
</html>