<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<!--    <div id="profile">-->
<!--        <div class="row" align="center">-->
<!--            <br>-->
<!--            <h2>My pictures</h2>-->
<!--            <div class="container" style="margin-top: 10px;">-->
<!--                <div class="row" style="border: 1px darkgrey solid; border-radius: 10px; width: 25%; margin: 0 auto; padding: 20px;">-->
<!--                    <div class="col-sm-5">-->
<!--                        <p align="center">-->
<!--                            <img alt="" th:src="@{${'/images/image.jpg'}}" width="300" height="400">-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="container" style="margin-top: 10px;">-->
<!--                <div class="row" style="border: 1px darkgrey solid; border-radius: 10px; width: 25%; margin: 0 auto; padding: 20px;">-->
<!--                    <div class="col-sm-5">-->
<!--                        <p align="center">-->
<!--                            <img alt="" th:src="@{${'/images/davetracklistt.jpg'}}" width="300" height="400">-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="container" style="margin-top: 10px;">-->
<!--                <div class="row" style="border: 1px darkgrey solid; border-radius: 10px; width: 25%; margin: 0 auto; padding: 20px;">-->
<!--                    <div class="col-sm-5">-->
<!--                        <p align="center">-->
<!--                            <img alt="" th:src="@{${'/images/imagee.png'}}" width="300" height="400">-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->



    <form th:object="${user}" method="get">
        <div class="profile-head" th:object="${user}">
            <div id="profile">
                <div class="col">
                        <p align="center">
                            <img alt="" th:src="@{${'/images/profilepic.jpg'}}" width="300" height="400">
                        </p>
                    <div class="row">
                        <label>Name: </label>
                        <p th:text="${user.getFirstname()}"></p>
                    </div>

                    <div class="row">
                        <label>Last name: </label>
                        <p th:text="${user.getLastname()}"></p>
                    </div>

                    <div class="row">
                        <label>Phone: </label>
                        <p th:text="${user.getPhone()}"></p>
                    </div>

                    <div class="row">
                        <label>Biography: </label>
                        <p th:text="${user.getBiography()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>